doctype html
html
  head
    title Solar Reflector
    meta(name='viewport' content='width=device-width, initial-scale=0.8, user-scalable=0')
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css')
    link(rel='stylesheet' type='text/css' href='page2.css')
  nav
    .nav-wrapper.truncate
      a.brand-logo.center(style='font-weight: bold; font-size: 20px;') SOLAR REFLECTOR
  .container
    .card-panel.row
      .col.s8
        h6#location Fredericton, NB
        h6#windSpeed Wind Speed: #{windSpeed}
        h6#snowfall Next Snowfall: #{weatherData.snowDay}
        h6#sunrise Sunrise: #{weatherData.sunrise}
        h6#sunset Sunset: #{weatherData.sunset}
      img#icon.col.s4(src=weatherData.imgUrl)
      h6#temp.center-align #{weatherData.temp}
    #state.card-panel.valign-wrapper
      .center-align(style="width: 100%;") State: #{state}
    .card-panel.row.valign-wrapper
      .col.s2
        button#decrease(style='font-weight: bold;') -
      #survivalSpeed.col.s8.center-align Survival Speed: #{survivalSpeed} km/h
      .col.s2
        button#increase(style='font-weight: bold;') +
    .card-panel.valign-wrapper
      .center-align(style="width: 100%;")
          a(style='margin-right: 10px;') Tracking Mode:
          button#tracking(style='width: 120px;') #{activeTracking ? 'Active' : 'Auto'}
    .card-panel.valign-wrapper
      .center-align(style="width: 100%;")
        a(style='margin-right: 10px;') Capacity Level:
        button#capacity(style='width: 120px;') 95% Power
    .row(style='margin: 0px;')
      .col.s6.left-align(style='padding: 0px;')
        button#logout(style='width: 120px;') Logout
      .col.s6.right-align(style='padding: 0px;')
        button#power(style='width: 120px;') #{powerOn ? 'Turn Off' : 'Turn On'}
  script(src="https://www.gstatic.com/firebasejs/8.2.4/firebase-app.js")
  script(src="https://www.gstatic.com/firebasejs/8.2.4/firebase-auth.js")
  script(src='page2.js')