doctype html
html
  head
    title Solar Reflector
    meta(name='viewport' content='width=device-width, initial-scale=0.52, user-scalable=0')
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css')
    link(rel='stylesheet' type='text/css' href='page2_pc.css')
  body
    nav
      .nav-wrapper.truncate
        a.brand-logo.center(style='font-weight: bold; font-size: 20px;') SOLAR REFLECTOR
    div(style='max-width: 1200px; margin: auto; padding: 50px 10px 0 10px;')
      div(style='padding: 5px;')
        .card-panel.z-depth-1(style='width: 100%; height: 450px;')
          .chart-container(style='width: 100%; height: 100%;')
            canvas#canvas
      .row(style='height: 200px; width: 100%; margin: 0px')
        .col.s12.l4(style='height: 100%; padding: 5px;')
          .card-panel(style='height: 100%;')
            .row.valign-wrapper(style='margin: 0px;')
              .col.s8(style='padding: 0px;')
                h6#location Fredericton, NB
                h6#windSpeed Wind Speed: #{windSpeed} km/h
                h6#snowfall Next Snowfall: #{weatherData.snowDay}
                h6#sunrise Sunrise: #{weatherData.sunrise}
                h6#sunset Sunset: #{weatherData.sunset}
              .col.s4.center-align(style='padding: 0px;')
                img#icon(src=weatherData.imgUrl style='height: 100px; width: 100px;')
                h6#temp(style='margin: 0px') #{weatherData.temp}
        .col.s12.l4(style='height: 100%; padding: 0px;')
          div(style='height: 50%; padding: 5px;')
            .card-panel.valign-wrapper(style='height: 100%;')
              .center-align
                a(style='margin-right: 10px;') Tracking Mode:
                button#tracking(style='width: 120px;') #{activeTracking ? 'Active' : 'Auto'}
          div(style='height: 50%; padding: 5px;')
            .card-panel.row.valign-wrapper(style='margin: 0px; height: 100%;')
              .col.s2.center-align(style='padding: 0px;')
                button.center-align#decrease(style='font-weight: bold; width: 38px;') -
              .col.s8.center-align(style='padding: 0px;')
                #survivalSpeed Survival Speed: #{survivalSpeed} km/h
              .col.s2.center-align(style='padding: 0px;')
                button.center-align#increase(style='font-weight: bold; width: 38px;') +
        .col.s12.l4(style='height: 100%; padding: 0px;')
          div(style='height: 50%; padding: 5px;')
            .card-panel.valign-wrapper(style='height: 100%;')
              .center-align#state State: #{state}
          div(style='height: 50%; padding: 5px;')
            .card-panel.row.valign-wrapper(style='margin: 0px; height: 100%;')
              .col.s6.center-align(style='padding: 0px;')
                button#logout(style='width: 120px;') Logout
              .col.s6.center-align(style='padding: 0px;')
                button#power(style='width: 120px;') #{powerOn ? 'Turn Off' : 'Turn On'}    
    script(src="https://www.gstatic.com/firebasejs/8.2.4/firebase-app.js")
    script(src="https://www.gstatic.com/firebasejs/8.2.4/firebase-auth.js")
    script(src="https://www.gstatic.com/firebasejs/8.2.4/firebase-firestore.js")
    script(src="Chart.bundle.min.js")
    script(src='page2.js')
    script(src='chart.js')
